@import 'src/shared/styles/_base';

.logo{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    color: $primary-text-color;
&SVG{
    width: 13px;
    height: 18px;
    fill: currentColor;
    margin-left: 7px;
}

&Wrapper{
    width: 103px;
    height: 20px;
    @include flex(start, center);
}

}



