@import "../../shared/styles/base";

@import "../../shared/styles/style.scss";

@include tablet {
  .title {
    line-height: 1.21;
    padding-bottom: 38px;
    text-align: center;
  }
}

@include desktop {
  .wrapper {
    @include grid(590px, auto-fill) // display: grid
      // grid-template-columns: 1fr 1fr;;
;
  }
  .containerFoto {
    position: relative;
  }
  .imgContainer {
    position: absolute;
    &:nth-child(2) {
      top: 348px;
      z-index: 2;
    }

    &:nth-child(4) {
      top: 476px;
      left: 220px;
      z-index: 3;
    }
    &:nth-child(3) {
      top: 190px;
      left: 220px;
      z-index: 1;
    }
    &:nth-child(1) {
      top: 20px;
    }
  }
  .title {
    font-weight: 600;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.23;
    padding-bottom: 32px;
  }
  .form {
    padding: 72px 80px 40px 100px;
  }
}
