.planningPointsText{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: #A6ABB9

}

.planningPointsNumber{
    width: 30px;
    height: 30px;
    background: #8EC63F;
    border-radius: 50%;
    padding: 6px 7px;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}