
  .checkboxInputHidden{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  }

  .checkboxInput{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    display: flex;
    width: 14px;
    height: 14px;
    background: #3E7ADC;
    border: 1px solid #ffff;
    border-radius: 2px;
    cursor: pointer;
    &::before {
      width: 8px;
      height: 6px;
      margin: 3px 4px;
      display: inline-block;
      content: '';
      background-image: url(../../../images/check-mark.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

  }

  .checkboxInputHidden:checked + .checkboxInput{
    background-color: #FFFFFF;
  }
