@import "../shared/styles/style.scss";

.header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  height: 62px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 900;
}
body {
  margin: 0;
  overflow-x: hidden;
  padding-top: 80px;
}
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container {
  @include flex(space-between, center);
  height: 100%;
}

.rightSide {
  @include flex();
}
.leftSide {
  @include flex(_, center);
}
.logo {
  text-align: center;
  width: 103px;
  height: 20px;
  text-decoration: none;
  font-weight: bold;
  color: $primary-text-color;
}
.logo:hover {
  color: $primary-bg-color;
  fill: $primary-text-color;
}
.logoIcon {
  height: 18px;
  width: 13px;
  fill: $primary-bg-color;
  vertical-align: bottom;
}
.scoreBalance {
  @include flex(_, center);
}
.text {
  font-style: normal;
  font-weight: 500;
  margin-right: 10px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;

  color: $third-text-color;
}
.scoreBalance {
  margin-left: 42px;
}
.score {
  @include flex(_, center);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: $primary-text-color;
}
@media screen and (min-width: 1080px) {
}
@media screen and (min-width: 768px) {
  .container {
    margin: 0px 94px;
  }
  .userContainer {
    @include flex(_, center);
  }
}
@media screen and (max-width: 767px) {
  .userContainer {
    display: none;
  }
}
