.taskToday {
	margin-bottom: 20px;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;

	text-align: center;
	letter-spacing: 0.04em;
	@media screen and (max-width: 767px) {
	}
}
