@import "../../../../../../shared/styles/style";

@media screen and(max-width: 1199px) {
  .navigation {
    display: flex;
    flex-direction: column;
    margin-top: 80px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    background-color: $primary-bg-color !important;
  }
}
