@import "../../../../../../shared/styles/style.scss";

@include desktop {
  .link {
    display: inline-block;
    height: 19px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: $secondary-text-color;
  }

  .link:focus {
    transition-duration: 400ms;
    outline: none;
    color: $primary-text-color;
  }
  .link:not(:last-child) {
    border-right: 2px solid $secondary-text-color;
    padding-right: 15px;
    margin-right: 15px;
  }
  .active {
    @extend .link;
    color: $primary-text-color;
  }
}
@media screen and (max-width: 1199px) {
  .link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-decoration: none;
    padding: 14.5px 30px;
    width: 274px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);

    color: #ffffff;
  }
  .active {
    color: $primary-text-color;
  }
}
