@media screen and (min-width: 1080px) {
  .link {
    display: inline-block;
    height: 19px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: #858598;
  }

  .link:focus {
    transform: translate(scale);
    transition-duration: 400ms;
    outline: none;
    color: #000;
  }
  .link:not(:last-child) {
    border-right: 2px solid #858598;
    padding-right: 15px;
    margin-right: 15px;
  }
  .active {
    @extend .link;
    color: #000;
  }
}
@media screen and (max-width: 1079px) {
  .link {
    // font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-decoration: none;
    padding: 14.5px 30px;
    width: 274px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);

    color: #ffffff;
  }
  .active {
    color: #000000;
  }
}
