.nonBurger {
  display: none;
}

.burger {
  display: none;
}

@media screen and (max-width: 1080px) {
  .burger {
    margin-right: 10px;
    stroke: #858598;
    transform: translate(scale);
    transition-duration: 500ms;
  }
  .burger:hover {
    stroke: #000;
  }
}
